<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio Landing Page</title>
    <!----CSS link----->
    <link rel="stylesheet" href="./static/style.css">
    <!----Fontawesome CDN Link----->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>
<body>

    <div class="hero">
        <nav>
            <h1><span>My Personal Information</span></h1>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact Me</a></li>
            </ul>
            <a href="#" class="btn">Hire Me</a>
        </nav>
        <div class="info">
            <h1>I am <span>Yota Prianto</span></h1>
            <h1> <span>Consultant Analyst</span></h1>
            <p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> 
				sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> 
				Ut enim ad minim veniam, quis nostrud exercitation.
			</p>
			<p>
				<h2>Personal Information</h2><br> 
				<b>Age:</b> 23 years old<br>
				<b>Phone:</b> +62-8xxx-xxxx<br>
				<b>Email:</b> yotaxxxxxx@gmail.com
			</p>
            <a href="#" class="btn">Download CV</a>
        </div>
        <div class="img-box">
            <img src="./static/assets/images/back.png" class="back-img">
            <img src="./static/assets/images/avatar.png" class="man-img">
        </div>
        <div class="social">
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-dribbble"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>

</body>
</html>
